tr td:first-child{
  font-weight: 600;
  color:yellow;
  text-transform:uppercase;
}
tr th{
  color:yellow;
  text-transform:uppercase;
}
html{

  
                background:#000;

}
section{
  background:#000;
  padding: 20px 0px;
}
h3{
  margin-bottom:0px!important;
  font-size: 20px!important;
}
section h2{
  /*border-bottom:2px solid yellow!important;*/
  font-size:30px;
  font-weight: 700;
  text-shadow: 3px 7px 6px black;
}
.card:hover{
  background-color:rgba(255, 255, 255, 0.068)!important;
  color: #000;
  box-shadow: 1px 1px 5px 1px #ccc;
  border:none!important;
}
.card h3 {
  color:yellow;
  font-size: 22px!important;
  text-transform: uppercase;
}
.card h3 span{
  color:#fff;
  font-size: 13px!important;
}
.card h2{
margin-top:5px;
font-size:36px!important;
text-shadow: 1px 1px 1px 1px #ccc;
border:none!important;
text-shadow: 3px 7px 6px black;
}
/**-------- Header-------**/
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 4.5% 10px 4.5%;
  background-color:#343a40;
  color: #fff;
}
.header-ul li{
  display: inline-block;
  margin-right: 15px;
}
.header-ul li a:hover{
  background-color: yellow!important;
  color:#000;
}
.header-ul li a{
   color:#fff;
   text-decoration: none;
   font-size: 15px;
   font-weight: 700;
   text-transform: capitalize;
    padding: 10px 8px;
}
.header-logo h3{
  color: yellow;
  text-transform: uppercase;
  font-size: 24px!important;
  font-weight: 800;
  letter-spacing: 1.2px;
  text-shadow: 3px 3px 3px #e00909;
}

@media only screen and (max-width:750px){
  .header {
    padding: 20px 2%;
  }
  .header-ul li{
    margin-right: 1px;
  }
  .header-ul li a{
    font-size: 12px;
    font-weight: 600;
     padding: 10px 5px;
 }
 .header-nav ul{
  padding-left:0px;
 }
  .header-logo h3{
    color: yellow;
    font-size: 12px!important;
    text-shadow: 2px 2px 2px #e00909;
    padding: 4px;
  }
}